<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHGPK4MK_NZMTguJq_6SeoUsacUGkW82I</string>
	<key>GCM_SENDER_ID</key>
	<string>44647094760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ridvandikmen.MP-DocumentCreate</string>
	<key>PROJECT_ID</key>
	<string>mpdocumentcreate</string>
	<key>STORAGE_BUCKET</key>
	<string>mpdocumentcreate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44647094760:ios:92db96cdccc871c41dec5d</string>
</dict>
</plist>